# Thanks a lot GEdit
*~

# Notes
_papers/*
_samples/*
_test/*
*_notes

# Executables
local/esod/esod

#Leftover from runtime
default.log
local/esol/esod_lock
local/esol/esod_socket

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
