# Notes
_papers/*
_samples/*
_test/*

# Executables
host/esod

#Leftover from runtime
host/esod_lock
host/esod_socket

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
