# Thanks a lot GEdit
*~

# Notes
_papers/*
_samples/*
_test/*
*_notes

# Executables
host/esod

#Leftover from runtime
default.log
host/esod_lock
host/esod_socket

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
