<!doctype html>
<title>Create a New Set</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<div class=page>
	<h1>Create a new set:</h1>

	<br /><br />

	<form method="post">
		Set Name: (Period-delimited words)<br />
		<input type="text" name="setName"/>

		<br /><br />

		Credential Version: (Must be an integer greater than 0)<br />
		<input type="text" name="version"/>

		<br /><br />

		Credential Type:<br />
		<select name="credType">
		 	<option>Username / Password</option>
			<option>AES-128</option>
			<option>AES-256</option>
		 	<option>RSA-1024</option>
		 	<option>RSA-2048</option>
			<option>RSA-4096</option>
		</select>

		<!-- TODO import or generate option -->

		<br /><br />

		Expiration Date: (YYYY-MM-DD)<br />
		<input type="text" name="expiration"/>

		<br /><br />

		Primary Owner:<br />
		<input type="text" name="primary"/>

		<br /><br />

		Secondary Owner:<br />
		<input type="text" name="secondary"/>

		<br /><br />

		<input type="submit"/>
	</form>
</div>
