<!doctype html>
<title>Create a New Set</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<div class=page>
	<h1>Create a new set:</h1>

	<br /><br />

	<form action = "/form/" method="post">

	Set Name:<br />
	<input type="text" name="setName"/>

	<br /><br />

	Credential Version:<br />
	<input type="text" name="version"/>

	<br /><br />

	Credential Type:<br />
	<select>
	 	<option>Username / Password</option>
	 	<option>Public / Private</option>
	 	<option>Symmetric</option>
		<option>Certificate</option>
	</select>

	<br /><br />

	Expiration Date:<br />
	<input type="text" name="version"/>

	<br /><br />

	Owner:<br />
	<input type="text" name="version"/>

	<br /><br />

	Co-owner:<br />
	<input type="text" name="version"/>

	</form>
</div>
