{% extends "layout.html" %}
{% block body %}

	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	<script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
	<script type=text/javascript src="{{ url_for('static', filename='viewSet.js') }}"></script>

	<script type=text/javascript>
	  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>

	<!-- A little hack to preserve the set name -->
	<h1>Showing Set: <span id="setName">{{setName}}</span> </h1>

	<br/><br/>
	{% if not setCreds %}
		Set does not exist.
	{% else %}
		<!-- Owners -->	
		Primary Owner: <b><span id="p_owner">{{primary}}</span></b>
		<br/>
		Secondary Owner: <b><span id="s_owner">{{secondary}}</span></b>
		<br/>
		<br/>

		Credentials:<br/>
		<!-- Credentials Table -->
		<table id="viewSet">
		<tr>
			<th>Set</th>
			<th>Version</th>
			<th>Type</th>
			<th>Expiration</th>
		</tr>
		{% for cred in setCreds %}
		<tr>
			<td>{{cred[0]}}</td>
			<td>{{cred[1]}}</td>
			<td>{{cred[2]}}</td>
			<td>{{cred[3]}}</td>
			{% if canModify %}
			<td><button>Revoke</button></td>
			{% endif %}
		</tr>
		{% endfor %}
		</table>
		{% if canModify %}
		<td><button onclick="addCredRow()">Create New Credential</button></td>
		{% endif %}

		<br/><br/>

		Permissions:<br/>
		<table id="viewPermissions">
		<tr>
			<th>Entity</th>
			<th>Entity Type</th>
			<th>Operation</th>
			<th>Location</th>
		</tr>
		<!-- Permissions Table -->
		{% for perm in setPerms %}
		<tr>
			<td>{{perm[0]}}</td>
			<td>{{perm[1]}}</td>
			<td>{{perm[2]}}</td>
			<td>{{perm[3]}}</td>
			{% if canModify %}
			<td><button class="editPermButton">Edit</button></td>
			<td><button class="removePermButton">Remove</button></td>
			{% endif %}
		</tr>
		{% endfor %}
		</table>

		{% if canModify %}
		<button type="button" onclick="addPermRow()">Add New Permission</button>
		{% endif %}
	{% endif %}

{% endblock %}
