body
{ 
	font-family: sans-serif; 
	background: #eee; 
}

a, h1, h2       
{
	color: #000; 
}

h1, h2
{ 
	font-family: 'Georgia', serif; 
	margin: 0; 
}

h1
{ 
	border-bottom: 2px solid #000; 
}

h2
{ 
	font-size: 1.2em; 
}

.page
{ 
	margin: 2em auto; 
	width: 50em; 
	border: 5px solid #ccc;
    padding: 0.8em; 
	background: white; 
}

.entries
{ 
	list-style: none; 
	margin: 0; 
	padding: 0; 
}

.entries li
{ 
	margin: 0.8em 1.2em; 
}

.entries li h2
{ 
	margin-left: -1em; 
}

.add-entry
{ 
	font-size: 0.9em; 
	border-bottom: 1px solid #ccc; 
}

.add-entry dl
{ 
	font-weight: bold;
}

.topnav
{ 
	text-align: left; 
	font-size: 0.8em; 
	padding: 0.3em;
	margin-bottom: 1em; 
	background: #fafafa; 
}

.metanav
{ 
	text-align: right; 
	font-size: 0.8em; 
	padding: 0.3em;
	margin-bottom: 1em; 
	background: #fafafa; 
}

.flash
{ 
	background: #cee5F5; 
	padding: 0.5em;
	border: 1px solid #aacbe2; 
}

.error
{ 
	background: #f0d6d6; 
	padding: 0.5em; 
}

#viewSet, #viewPermissions
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	width:100%;
	border-collapse:collapse;
}

#viewSet td, #viewSet th, #viewPermissions tb, #viewPermissions th
{
	font-size:1em;
	border:1px solid #98bf21;
	padding:3px 7px 2px 7px;
}

#viewSet th, #viewPermissions th
{
	font-size:1.1em;
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#A7C942;
	color:#ffffff;
}
